# 1 
#### return 'p1' if v < 0 else 'p2' if v > 0 else 'tie'

In [1]:
def showdown(p1, p2):
    result = p1.find('Bang!')
    result = p2.find('Bang!') 
    if p1 > p2:
        return "p1"
    elif p2>p1:
        return "p2"
    else:
        return "tie"

In [3]:
def showdown2(p1, p2):
    v = p1.find('B') - p2.find('B')
    return 'p1' if v < 0 else 'p2' if v > 0 else 'tie'

In [7]:
print(showdown2("   Bang!","Bang!"))
print(showdown2("   Bang!","Bang!"))

p2
p2

___________

# 2 
join-split birlikte kullanım

In [83]:
def name_shuffle(txt):
  return "---".join(txt.split()[::-1])

In [84]:
name_shuffle("Saygın YILDIZ")

'YILDIZ---Saygın'

------------

# 3*
Verilen sayıyı veya string şeklindeki sayıları tekerli listeye at

In [100]:
def mean(num):
    return int(sum(list(map(int, str(abs(num)))))/len(str(abs(num))))

In [101]:
mean(12345)

3

In [15]:
num ="123"

In [16]:
list(map(int,num))

[1, 2, 3]

In [17]:
num2 =123

In [22]:
list(map(int, str(abs(num2))))

[1, 2, 3]

# 4*
Verilen listenin içindeki elemanların karakter uzunluğunu toplatan fonksiyon

In [42]:
def count_characters(lst):
    return sum(len(i) for i in lst)

In [43]:
count_characters(["s","Saygın","3"])

8

------

In [47]:
def count_characters(lst):
	return (''.join(lst))

In [48]:
count_characters(["s","sd","3"])

'ssd3'

# 5 
Fonksiyondaki dize verilen stringte kaçıncı sırada

In [37]:
def find_bob(names):
    return names.index('Bob') if 'Bob' in names else -1

In [38]:
find_bob("fghfghBobb")

6

__________

In [26]:
sonuc=0
num=215

In [27]:
for i in range(1,num+1):
    sonuc+=i
    i+=1

In [28]:
print(sonuc)

23220

In [29]:
def alphanumeric_restriction(s):
    return((s.strip()).isalpha())

In [30]:
"  "

'  '

In [31]:
def alphanumeric_restriction(s):
	return(s.isalpha())

In [34]:
alphanumeric_restriction("stri ppp")

False

In [60]:
def alphanumeric_restriction(s):
    s=(s.replace(" ","")) 
    return((s.strip()).isalpha())

In [61]:
def alphanumeric_restriction(s):
    return s.isnumeric() or s.isalpha()

In [64]:
alphanumeric_restriction("dsd sdfdf")

False

### Fonksiyonda sabit değer ve formatlama

In [27]:
def mood_today(mood='neutral'):
    return 'Today, I am feeling {}'.format(mood)

In [29]:
mood_today()

'Today, I am feeling neutral'

### isinstance() vs in

In [85]:
def filter_list(lst):
    yeni_liste = []
    for i in range(len(lst)):
        if type(lst[i]) == int and lst[i]>=0 and lst[i] not in yeni_liste:
            yeni_liste.append(lst[i])
    return yeni_liste

In [89]:
filter_list([1, "a", "b", 0, 15])

[1, 0, 15]

In [88]:
def filter_list(lst):
    return [l for l in lst if isinstance(l, int)]

### Single line for 
### join()

In [126]:
def double_char(txt):
    return ''.join([str(elem) for elem in [x*2 for x in txt]])

In [127]:
double_char("Merhaba")

'MMeerrhhaabbaa'

In [129]:
def double_char(txt):
    return ''.join([c * 2 for c in txt])

### ceil() => tavana yuvarlama

In [168]:
import math

def century_from_year(year):  
    return [int((year/100)+ 1  if year%100 != 0 else year/100)][0]

In [169]:
century_from_year(2010)

21

In [170]:
print(math.ceil(1.4))
print(math.ceil(5.3))
print(math.ceil(-5.3))
print(math.ceil(22.6))
print(math.ceil(10.0))

2
6
-5
23
10

### return unutmaaaa

In [255]:
import math
def cars_needed(n):
    return int(n/5) + int(math.ceil((n%5/5)))

In [258]:
cars_needed(11)

3

In [257]:
def cars_needed(n):
  return (n + 4) // 5

# İNCELE

In [267]:
def count_vowels(txt):
  return sum(c in "aeiou" for c in txt)

In [268]:
count_vowels("Prediction")

4

In [297]:
from collections import Counter

In [298]:
def diveandconquer(s):
    maxcount = 0
    maxsubstring = ""
    for u in range(5, 20):
        allsubstrings = []
        for i in (range(len(s)-u+2)):
            allsubstrings.append(s[i:i+u])
        c = Counter(allsubstrings).most_common(3)
        if(c[0][1] >= maxcount):
            maxsubstring = c[0][0]
            maxcount = c[0][1]
    return maxsubstring + " " +str(maxcount)

In [299]:
data = "We have two variables to store max number of occurances and most frequent substring.\
Then we have a list to store all possible substring.\
In the for loop we create 5 charecter long substrings by shift throug original string.\
Then we create a counter object with all possible substring and retrive the most common one and assign it to C.\
Counter object return two tupples in a list in this format first the word and the number of occurances.\
If the number of occurance is higher than previus maxcount value we assign current substring and count to\
maxcount and maxsubstring.\
The we itterate the same code with 5 to 20 charecters long substrings."

In [300]:
#f = open("deneme_verisi.txt", "r")
#data = f.read()
#f.close()

In [301]:
sonuc = diveandconquer(data)
print(sonuc)

TypeError: 'str' object is not callable

In [49]:
lst = [8,6]

In [15]:
x=8

In [26]:
for i in range(1,x+1) lst.append([i if i%2==0 else i+=0])

SyntaxError: invalid syntax (<ipython-input-26-9fe42f552d42>, line 2)

In [38]:
lst

[8]

In [45]:
x if (x for x in lst)%2 == 0 else 1

TypeError: unsupported operand type(s) for %: 'generator' and 'int'

In [42]:
list_variable

[8]

In [51]:
lst.append(x if (x%2==0 for x in lst) else 1)

In [81]:
num = 2

In [113]:
def alphabet_soup(txt):
    lst=[item for item in txt]
    return "".join(sorted(lst))

In [115]:
alphabet_soup("deneme")

'deeemn'

In [162]:
def filter_list(l):
    return [item for item in l if type(item)==int]

In [163]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [9]:
txt = "a"

In [10]:
x.lower()

'a'

In [12]:
def XO(txt):
    if txt.lower().count("o")== txt.lower().count("x"):
        return True
    else:
        return False

In [16]:
XO("Xxsdxoo")

False

## verilen metnin  harflerinin sıralanarak düzü ve tersi

In [50]:
def first_and_last(s):
    s = "".join(sorted(s))
    k = "".join(reversed(s))
    return [s,k]

In [53]:
first_and_last("deneme")

['deeemn', 'nmeeed']

## kaç tane 2 var digitte

In [75]:
def count_ones(num):
    return bin(num).count('1')

## incele

In [76]:
def add_name(obj,name,value):
    obj[name] = value
    return obj

In [91]:
add_name({ "piano": 500, "stereo": 300 }, "Caligula", 440)

{'piano': 500, 'stereo': 300, 'Caligula': 440}

In [90]:
def next_in_line(lst, num):
    if lst == []:
        return "No list has been selected"
    else:
        lst.append(num)
        del lst[0]
        return lst

In [91]:
next_in_line([],3)

'No list has been selected'

## ord() fonksiyonu

In [58]:
def counterpartCharCode(char):
    if char==char.lower():
        return ord(char.upper())
    else:
        return ord(char.lower())

In [59]:
counterpartCharCode("A")

97

## recursive toplama

In [62]:
def sum_numbers(n):
   if n <= 1:
       return n
   else:
       return n + sum_numbers(n-1)

In [68]:
sum_numbers(5)

15

In [69]:
def sum_numbers(n):
    return n + sum_numbers(n-1) if n else 0

## round()
## trunc' bak

In [88]:
def cone_volume(h, r):
    return round((1/3)math.pi(r*2)h,2)

SyntaxError: invalid syntax (<ipython-input-88-851b7be44198>, line 2)

In [86]:
import math

In [92]:
def are_true(a, b):
    if a == True:
        if b == True:
            return "both"
        else:
            return "first"
    elif b = True:
        return "second"
    else:
        return "neither"

SyntaxError: invalid syntax (<ipython-input-92-3ba70c749f45>, line 7)

## True False

In [139]:
def are_true(*args):
    return {
    (0, 0): 'neither',
    (1, 0): 'first',
    (0, 1): 'second',
    (1, 1): 'both'
    }[args]

In [140]:
are_true(True, True)

'both'

In [137]:
def is_valid_PIN(pin):
	if pin.isdigit() == True and len(pin) in [4,6]:
		return True
	else:
		return False

In [138]:
is_valid_PIN("1234")

True

In [119]:
len(pin2)

4

## * Çoklu if else

In [6]:
def paths(n):
    return "0 veya daha büyük sayı gir" if n<0 else 1 if (n==1 or n==0) else n * paths(n - 1)

In [10]:
paths(-1)

'0 veya daha büyük sayı gir'

### Dict. ile ilgili bişiler

In [20]:
{"skate": 200, "painting": 200, "shoes": 1 }.keys()

dict_keys(['skate', 'painting', 'shoes'])

In [23]:
{"skate": 200, "painting": 200, "shoes": 1 }.values()

dict_values([200, 200, 1])

In [15]:
def calc_diff(obj, limit):
    return sum(obj.values())-limit

In [16]:
calc_diff({ "baseball bat": 20 }, 5)

15

In [17]:
calc_diff({"skate": 200, "painting": 200, "shoes": 1 }, 400)

1

In [36]:
def integer_boolean(n):
    lst = []
    for i in range(0,len(n)):
        lst.append(bool(int(n[i])))
    return lst

In [37]:
integer_boolean("100101")

[True, False, False, True, False, True]

In [ ]:
def integer_boolean(n):
    return [i == '1' for i in str(n)]
    #return [bool(int(i)) for i in n]

In [38]:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

In [44]:
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [43]:
first,middle,last = lst[0],lst[1:-1],lst[-1]

In [45]:
def

SyntaxError: 'return' outside function (<ipython-input-45-4757a8c7a9ea>, line 2)

In [49]:
def inclusiveArray(startNum, endNum):
    if startNum > endNum:
        return startNum
    else:
        return startNum+1

In [50]:
inclusiveArray(3,7)

4

In [69]:
def inclusive_list(startNum, endNum):
    return list(range(startNum, endNum+1)) or [startNum]

In [86]:
inclusive_list(1,5)

[1, 2, 3, 4, 5]

In [85]:
index_of_caps("eDaBiT")

[1, 3, 5]

In [84]:
def index_of_caps(word):
  return [i for i in range(len(word)) if word[i].isupper()]

In [27]:
lst = [2, 4, 1, 3, 5]

In [28]:
lst.index(min(lst))

2

In [52]:
lst = [3,4]

In [54]:
def remove_smallest(lst):
    if lst == []:
        return lst
    else:
        del lst[lst.index(min(lst))]
        return lst

In [61]:
remove_smallest([5, 3, 2, 1, 4])

[None]

In [53]:
del lst[lst.index(min(lst))]

In [63]:
num=0

bunu lensiz çöz

In [64]:
len(str(num))

1

In [107]:
def list_of_multiples (num, length):
    return [i*num for i in range(1,length+1)]

In [108]:
list_of_multiples(1,3)

[1, 2, 3]

In [95]:
import statistics

In [98]:
def get_budgets(lst):
	return sum((i['budget'] for i in lst).values())

In [99]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

AttributeError: 'generator' object has no attribute 'values'

## TUPLE - sorted

In [88]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
sorted(student_tuples, key=lambda student: student[1])   # sort by age

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

## LIST - sorted

In [89]:
from operator import itemgetter, attrgetter

In [90]:
sort_by_length = ["Google", "Apple", "Microsoft","Amazon"]

In [91]:
sorted(sort_by_length, key=itemgetter(0))

['Apple', 'Amazon', 'Google', 'Microsoft']

In [93]:
def sort_by_length(lst):
	return sorted(lst, key=len)

In [94]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

## DICTIONARY - sorted

In [92]:
students = ['dave', 'john', 'jane']
newgrades = {'john': 'F', 'jane':'A', 'dave': 'C'}
sorted(students, key=newgrades.__getitem__)

['jane', 'dave', 'john']

## Listeyi number
## numberi liste

In [38]:
def to_list(num):
	return [int(i) for i in str(num)]

def to_number(lst):
	return int(''.join(str(i) for i in lst))

In [91]:
def setify(lst):
    unique_list = [] 
    for x in lst: 
        if x not in unique_list: 
            unique_list.append(x) 
    return unique_list

In [92]:
unique([10, 20, 10, 30, 40, 40] )

[10, 20, 30, 40]

In [1]:
def setify(lst):
    return sorted(list(set(lst)))

In [10]:
friends = ["Adam", "Sarah", "Malcolm"]

In [23]:
friends[1][0]

'S'

In [62]:
def society_name(friends):
	return ''.join(i[0] for i in friends))

In [63]:
society_name(["Adam", "Sarah", "Malcolm"])

'AMS'